.idea
# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
# Example code in package build process
*-Ex.R
# Output files from R CMD build
/*.tar.gz
# Output files from R CMD check
/*.Rcheck/
# RStudio files
.Rproj.user/
.Ruserdata
# Saved objects
*.rda
# Genered plots from tests
tests/testthat/Rplots.pdf
.Rproj.user
# Notebook checks
inst/notebooks/.ipynb_checkpoints
Rplot.png
# For unit tests around sqlite (DB)
inst/extdata/unit-test.sqlite
# Dropbox tracking files
*.DS_Store
.credentials.R
*.txt
