language: r
matrix:
  include:
    - os: osx
      osx_image: xcode8.2
      r: release
      sudo: required

before_install:
    - curl -OL http://raw.github.com/craigcitro/r-travis/master/scripts/travis-tool.sh
    - chmod 755 ./travis-tool.sh
    - ./travis-tool.sh bootstrap
    
install:
    - ./travis-tool.sh aptget_install r-cran-rodbc
    - ./travis-tool.sh install_deps