language: r
sudo: false
cache: packages
dist: trusty
notifications:
  email:
    recipients:
    - michael.mastanduno@healthcatalyst.com
    on_success: never
    on_failure: always
  slack:
    secure: KIZYbmeATHXsbryDcrq6b4H6gtg3vrZIqZArbBpXd9Xp5ApHuGs0PYrYfWWMJmrZH+kNI4OK9DxxFRZdu59955Khev3dNyuGTMS0yRaRvqypi+0LUzbw+ha938l5Y3/OnK0Ke6WvX97r0xDX1vr5c/NMVzecZQGgIzi3PVY9TE1woXabtDlD7yvs2CrGabifGQUfkvEdRgGFUCXqPgckC4I66wVHJp6EWvVqiSPnsmMHEtTUnYmgxlR9YDPKHz/AKVKhvSh3ny4BoLBODqZuHSda4s8vtB8fNQMlXp0L+6lb1Y7tdXurfwUpde4uXfl5iCS8h/6h3Fk2WMjooztDdXCHqPLOKCXcqaJQELlYH4IBZPO/CIz2ljfp8SH4QXn5Bjm4ZJbfYGZiqmwlngJ7TZdtEyVsfL5JzjdsMucL4MOfZSKUypDERZVqdnKZmNfIfe5d410v08zNBrJ0lLezQMAwT+hNJejja88NMlRQKMRDuCxn01hUfGNRkZWyVhpdU6yry7cGSKM5np+/Rnjqf9BXevMv4h3HNpeSCzzugpCZFwOlC31Tny4j/hQOz3CHluNaHTSaf+eFV+6MX+OFIAwuuVTuxC0To5PA59JHkl+XiUssxIDMifsyBRxCm4+fxWZUsYXd0u7l81ultEJ78R41K6cwx2fOxhL3UE3obPQ=
env:
  matrix:
  - LINTR_COMMENT_BOT=false
  - secure: cT6mg+sAeAl+zV8crTIeweOvo3KI75d/H7Pb7ToMzlkwrVhrGNzHGOeWIUjFCK7yHSCm5cQwiwF59VugCBz/7kgjwdUc9Jm+Xew1A8w0qv8Y4q3bGIXgOljPd3aQaxyBO1Dm8mosJDVBJZqrjJ/GcTHDjGHZP6rH+tKJyvot05H6ZePPmosqZ7lpkA8j1lOaVFoYUaokE4RjyS3SHXYllpEEmlYHVLsnQ1DmmkaEAs1Y2bojFb7OGLfxCrDTXJHu2QZ9NIfexuXSF721vEEsQ+hSo8R9VuFye5cQvd5K0D0soj9s1sQauJM1JqrPgjN1c2w8bckfbvBSDfEBH95ssk8vxthEAMq8o8VH+TEabISlzgX7nnsTGb4kbEykFh8H2CesK/365eze8qyWrxQRsdkka+DpuMtESMLGZaeXZgf7mNZo0X9wL7hK3THc1+lEFNN5ZGcuV6j+HrQfG2DKQPjAtkqIcSt8UC3ajYDpxum77b4MLqMJGfavLjGU/ZBZ/lrizf0vJV2s4swO5XNGwTD/4V40JU4MrFu5AVYBeJUw7Fdq76jKyCAmkfdN/dPKXe3soQ1CmIWJiRwPDQ55+Ye6MXzh6n/vDdfg9Qlp69QpECfyqRN35RovfCD2SNOLxUleCW1J+Qh2gJEewgAkkIu8RJA/vIJqvml+MNq6cyM=
r:
- oldrel
- release
- devel
matrix:
  allow_failures:
  - r: devel
r_packages:
- covr
- lintr
addons:
  apt:
    packages:
    - libnlopt-dev
after_success:
- travis_wait 30 Rscript -e 'covr::codecov()'
