language: R
warnings_are_errors: true
notifications:
  email: false
  slack:
    secure: KIZYbmeATHXsbryDcrq6b4H6gtg3vrZIqZArbBpXd9Xp5ApHuGs0PYrYfWWMJmrZH+kNI4OK9DxxFRZdu59955Khev3dNyuGTMS0yRaRvqypi+0LUzbw+ha938l5Y3/OnK0Ke6WvX97r0xDX1vr5c/NMVzecZQGgIzi3PVY9TE1woXabtDlD7yvs2CrGabifGQUfkvEdRgGFUCXqPgckC4I66wVHJp6EWvVqiSPnsmMHEtTUnYmgxlR9YDPKHz/AKVKhvSh3ny4BoLBODqZuHSda4s8vtB8fNQMlXp0L+6lb1Y7tdXurfwUpde4uXfl5iCS8h/6h3Fk2WMjooztDdXCHqPLOKCXcqaJQELlYH4IBZPO/CIz2ljfp8SH4QXn5Bjm4ZJbfYGZiqmwlngJ7TZdtEyVsfL5JzjdsMucL4MOfZSKUypDERZVqdnKZmNfIfe5d410v08zNBrJ0lLezQMAwT+hNJejja88NMlRQKMRDuCxn01hUfGNRkZWyVhpdU6yry7cGSKM5np+/Rnjqf9BXevMv4h3HNpeSCzzugpCZFwOlC31Tny4j/hQOz3CHluNaHTSaf+eFV+6MX+OFIAwuuVTuxC0To5PA59JHkl+XiUssxIDMifsyBRxCm4+fxWZUsYXd0u7l81ultEJ78R41K6cwx2fOxhL3UE3obPQ=


matrix:
  include:
  
  - os: linux
    cache: packages
    dist: trusty
    sudo: false
    r: release
    addons:
      apt:
        sources:
        - ubuntu-toolchain-r-test
        packages:
        - gcc-4.9
        - g++-4.9
        - unixodbc-dev
        r_packages:
        - covr
    before_install: |
      mkdir ~/.R
      cat <<EOF > ~/.R/Makevars
      CXX1X=g++-4.9
      CXX1XSTD=-std=c++11
    after_success:
      - Rscript -e 'covr::codecov()'
      
      
  - os: osx
    osx_image: xcode8.2
    sudo: required
    r: release
    before_install:
    - brew update
    install:
    - sudo chown -R $(whoami) /usr/local/share/man/man7
    - brew install unixodbc
    - Rscript -e 'install.packages("devtools", repos = "http://cran.rstudio.com")'
    - Rscript -e 'install.packages(c("assertthat","caret","data.table","DBI","doParallel","e1071"), repos
      = "http://cran.rstudio.com")'
    - Rscript -e 'install.packages(c("grpreg","lme4","odbc","pROC"), repos =
      "http://cran.rstudio.com")'
    - Rscript -e 'install.packages(c("R6","ranger","ROCR","RODBC","RSQLite","testthat"), repos =
      "http://cran.rstudio.com")'
