# DO NOT CHANGE the "init" and "install" sections below

# Download script file from GitHub
init:
  ps: |
        $ErrorActionPreference = "Stop"
        Invoke-WebRequest http://raw.github.com/krlmlr/r-appveyor/master/scripts/appveyor-tool.ps1 -OutFile "..\appveyor-tool.ps1"
        Import-Module '..\appveyor-tool.ps1'

install:
  ps: Bootstrap

cache:
  - C:\RLibrary -> appveyor.yml
  
# Adapt as necessary starting from here
services:
  - mssql2012sp1

environment:
  NOT_CRAN: true
  
  global:
    WARNINGS_ARE_ERRORS: 1

  matrix:
  - R_VERSION: stable
    R_ARCH: x64
    GCC_PATH: mingw_32

  - R_VERSION: oldrel
    R_ARCH: x64
    GCC_PATH: mingw_32

build_script:
  - ps: iex .\inst\CIDatabase\CIBuild_DBCreate.ps1
  - travis-tool.sh install_deps

test_script:
  - travis-tool.sh run_tests

on_failure:
  - 7z a failure.zip *.Rcheck\*
  - appveyor PushArtifact failure.zip

artifacts:
  - path: '*.Rcheck\**\*.log'
    name: Logs

  - path: '*.Rcheck\**\*.out'
    name: Logs

  - path: '*.Rcheck\**\*.fail'
    name: Logs

  - path: '*.Rcheck\**\*.Rout'
    name: Logs

  - path: '\*_*.tar.gz'
    name: Bits

  - path: '\*_*.zip'
    name: Bits

notifications:
    - provider: GitHubPullRequest
      on_build_success: false
      on_build_failure: false
      on_build_status_changed: false
